* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Font Face*/

$fonts-regular: ("Thin": 100, "ExtraLight": 200, "Light": 300, "Regular": 400, "Medium": 500, "SemiBold": 600, "Bold": 700, "ExtraBold": 800, "Black": 900);

$fonts-italic: ("ThinItalic": 100, "ExtraLightItalic": 200, "LightItalic": 300, "RegularItalic": 400, "MediumItalic": 500, "SemiBold": 600, "BoldItalic": 700, "ExtraBoldItalic": 800, "BlackItalic": 900);

@each $name,
$weight in $fonts-regular {
    @font-face {
        font-family: 'Metropolis';
        src: url(metropolis/Metropolis-#{$name}.otf);
        font-weight: $weight;
        font-style: normal;
    }
}

@each $name,
$weight in $fonts-italic {
    @font-face {
        font-family: 'Metropolis';
        src: url(metropolis/Metropolis-#{$name}.otf);
        font-weight: $weight;
        font-style: italic;
    }
}

/*Variables*/

$bg-colour: #ffffff;
$bg-colour-secondary: #FAFDFC;
$text-primary: #333333;
$text-secondary: #666666;
$text-other: #555555;
$primary: #DB75FF;
$secondary: #ED2065;
$secondary-light: #FCB5CB;
$secondary-lighter: #F9E6EA;
$accent: #6BFDD1;
$accent-secondary: #2FE0E8;
$accent-tertiary: #FDEE6B;

$gradient-1: linear-gradient(180deg, #F9E6EA 0%, #FCB5CB 100%);
$gradient-2: linear-gradient(180deg, #F4E6F9 0%, #E9B5FC 100%);
$gradient-3: linear-gradient(178.85deg, #C5FAFC 15.34%, #2FE0E8 130.02%);
$gradient-4: linear-gradient(180deg, #D4F9EE 0%, #6BFDD1 100%);
$gradient-bright:linear-gradient(202.46deg, #ED2065 -19.01%, #DB75FF 20.59%, #2FE0E8 64.29%, #6BFDD1 132.17%);

$size-1: 8px;
$size-2: 12px;
$size-3: 16px;
$size-4: 20px;
$size-5: 24px;

@mixin font ($font-weight, $font-style) {
    font-weight: $font-weight;
    font-style: $font-style;
}

@mixin flexbox ($direction, $justify, $align, $wrap, $flex) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $justify;
    flex-wrap: $wrap;
    flex: $flex;

}

/*Base*/

html,
body {
    font-family: 'Metropolis';
    color: $text-primary;
}

.zd-body {
    background-image: url(imgs/zendesk-bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: $text-secondary
}

.btn {
    background-color: $secondary;
    color: $bg-colour;
    padding: 12px 18px;
    border-radius: $size-1/2;
    box-shadow: inset 0 0 0 0 darken($primary, 15%);
    font-size: 1rem;
    font-family: 'Metropolis';

    &.btn-primary {
        border: none;
        cursor: pointer;
    }

    &:hover {
        box-shadow: inset 300px 0 0 0 darken($primary, 15%);
        transition: ease-in 0.3s;

    }
}

input[type="text"], input[type="email"], textarea {
    font-family: 'Metropolis';
    font-size: 1rem;
    padding-left: $size-2;
    color: $text-secondary;
    &:focus {
        outline: 1px solid $secondary-light;
        box-shadow: 0 0 10px $secondary-light;
        border: none;
    }
}

p {
    line-height: 2;
}

/*Navbar*/

.navbar {
    i {
        display: none;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px 100px;
    background: $bg-colour-secondary;

    .logo {
        font-size: 2rem;

        a {
            text-decoration: none;
            color: $primary;
            @include font(600, normal);
        }
    }

    .nav {
        display: flex;
        list-style: none;
        justify-content: space-evenly;

        .nav-link {
            padding: 1rem;

            a {
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 0px;
                    bottom: -10px;
                    left: 0;
                    height: 3px;
                }

                &:hover {
                    @include font(600, normal);

                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        bottom: -10px;
                        left: 0;
                        height: 3px;
                        background: $gradient-bright;
                        transition: 300ms;
                    }
                }
            }
        }
    }
}

/*Footer*/


.footer-top, .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top {
    height: 100px;
    background-color: $bg-colour-secondary;
    margin-top: 2%;
    i {
        font-size: 1.5rem;
        padding: $size-5;
        color: $text-primary;
        &:hover {
            color: $secondary;
            transition: 200ms ease-in;
            transform: scale(1.2);
        }
    }
}

.footer-bottom {
    height: 50px;
    font-size: 0.875rem;
    color: $text-secondary;
    background-color: lighten($text-secondary, 50%)
}
/*Home*/

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5%;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;

    h1 {
        @include font(800, normal);
        font-size: 2.5rem;
        margin-top: 20px;

        span {
            color: $primary;
        }
    }

    p {
        color: $text-secondary;
        margin: 40px 0 50px 0;
    }

    .btn {
        font-size: 1.2rem;
    }
}

#portfolio {
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    .card {
        width: 40%;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: $size-4;
        padding: 50px;
        margin: $size-4;
        text-align: center;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
            transition: 200ms ease-in;
        }

        &:nth-child(1) {
            background: $gradient-1;
        }

        &:nth-child(2) {
            background: $gradient-2;
        }

        &:nth-child(3) {
            background: $gradient-3;
        }

        &:nth-child(4) {
            background: $gradient-4;
        }

        img {
            width: 80%;
            margin-bottom: $size-5;
        }

        .card-title {
            color: $text-primary;
            margin: $size-5 0;
        }

        .card-description {
            color: $text-other;
            font-size: 0.875rem;

        }
    }
}

/*About*/

.hero.about {
    max-width: 1500px;
    padding-top: 2%;
    h1 {
        position: relative;
        margin-bottom: $size-5*3;
        line-height: 1.5;

        svg {
            position: absolute;
            left: 0;
            top: 90%;
            width: 50%;
        }
    }

    flex-direction: column;

    div {
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-self: center;
        flex-wrap: wrap;

        img {
            align-self: flex-start;
        }

    }
    p {
        max-width: 500px;
        line-height: 2;

        em {
            @include font (600, normal);
        }
    }
}

.quote {
    background-image: url(imgs/mesh.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 80vh;
    color: $bg-colour;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: $size-5*4;

    .quotation {
        font-size: 2rem;
        @include font(700, normal);
        width: 90%;
        max-width: 400px;
    }

    .source {
        font-size: 1rem;
        @include font(300, italic);
        margin-top: $size-5;
    }
}

.about-me {
    @include flexbox(row, space-between, flex-start, wrap, null);
    
    padding-top: 5%;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;

    h2 {
        @include font(800, normal);
        font-size: 2.5rem;
        margin-top: 20px;

        span {
            color: $primary;
    }
    }

    ul {
        margin-top: $size-5*2;
        li {
            list-style: none;
            padding: $size-1 0;
            &:before {
                content: "\2764";
                color: $secondary;
                font-size: 1.25rem;
                vertical-align: middle;
                padding-right: $size-1
            }
        }
    }
}

.skills {
    @include flexbox(row, space-between, flex-start, wrap, null);
    padding-top: 5%;
    max-width: 800px;
    width: 50%;
    margin: 0 auto;
    min-height: 50vh;
    margin-bottom: 5%;

    h2 {
        @include font(800, normal);
        font-size: 2.5rem;
        margin: $size-4 0;

        span {
            color: $primary;
    }
    }

    p {
        margin: $size-4 0;
        line-height: 2;
    }

    .contact-me {
        p {
            @include font(600, normal);
            font-size: 1.5rem;
            color: $text-other;
        }
        @include flexbox(column, center, center, null, null);
        width: 100%;
    }
    .btn {
        font-size: 1.125rem;
    }
}


/*Contacto*/ 

.contact-title {
    margin-top: 5%;
    @include flexbox(column, center, center, null, null);
    svg {
        height: 120px;
        margin-top: $size-3;
        margin-bottom: $size-3;
    }
    h1 {
        @include font(800, normal);
        font-size: 2.5rem;
    }
}

#form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    div:nth-child(1) {
        display: flex;
        width: 100%;
        .form-input {
            flex: 0 1 50%;
            &:nth-child(1) {
                margin-right: $size-1;
            }
        }
    }
    .form-input {
        @include flexbox(column, flex-start, center, null, null);
        margin: $size-2 0;
        label, input {
            margin: $size-1 0;
        }
        input {
            border: 1px solid #C4C4C4;
            background-color: $bg-colour-secondary;
            height: $size-5*1.5;
            width: 100%;
        }
        ::placeholder {
            font-family: 'Metropolis';
            font-size: 1rem;
            
        
        }
    }
    .form-textarea {
        textarea {
            width: 100%;
            aspect-ratio: 4/1;
            border: 1px solid #C4C4C4;

        }
        margin-bottom: $size-5;
    }

    .button-container {
        @include flexbox(null, center, center, null, null);
    }
    margin-bottom: 5%;
}

/*Secciones*/

.section.hero {
    @include flexbox(row, space-between, flex-start, wrap, null);
    padding-top: 5%;
    max-width: 800px;
    width: 50%;
    margin: 0 auto;

    p {
        margin: $size-1 0;
    }

    h1 {
        margin-bottom: $size-5*2;
    }
}

.mockups {
    width: 90%;
    max-width: 1400px;
    margin: 7% auto;


    .row {
        @include flexbox(row, flex-start, center, null, null);
        &.row-right {
            justify-content: flex-end;
            position: relative;
        }
    
    div {
        text-align: center;
        position: relative;
        h2 {
            margin: $size-5 0;
        }
        .btn {
            display: inline-block;
            margin: $size-2 0;
        }
        img {
            width: 100%;
            max-width: 500px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
    }
}
    
&.wd {
    .row {
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 10%;
        flex-wrap: wrap;
        div {
            flex: 0 0 50%;
            &.paragraph-desktop {
                width: 100%;
                max-width: 600px;
                padding: 5% 0;
                p{
                    text-align: left;
                    margin-top: $size-3;

                }
            }
            &.paragraph-mobile {
                display: none;
            }
        }
    }
}

}

@media only screen and (max-width: 768px) {
    main {
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 0;
        }
        &.darken {
            position: relative;
            z-index: -4;
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0%;
                left: 0;
                background-color: rgba(0,0,0,0.2);
                transition: 500ms ease-in-out;
            }
        }
    }
    .navbar {
        padding: $size-3$size-5;
        position: relative;
        align-items: center;
        i {
            display: block;
        }
        .logo {
            a {
                font-size: 1.5rem;
                line-height: 0;
                letter-spacing: -1px;
            }
        }

        .nav {
            height: 0px;
            overflow: hidden;
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: $bg-colour-secondary;


            &.active {
                height: 200px;
                box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.2);
                transform: translateY(0);
                transition: 500ms ease-in-out;
            }

            &:not(.active) {
                transition: 500ms ease-in-out;
            }

            .nav-link {
                text-align: center;
                a.btn {
                    padding: 10px;
                }
            }

        
        }
    }
    .hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            line-height: 1.5;
        }
        p {
            margin-top: $size-1;
            margin-bottom: $size-5;
        }
        img {
            width: 100%;
        }
        div {
            margin: 10% 0;
        }

        &.section {
            width: 100%;
            padding: 5%;

            h1 {
                margin-bottom: $size-3;
            }
        }

        &.about {
            h1 {
                line-height: 1.2;
                text-align: center;
                margin-bottom: $size-5*2;
                svg {
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            div {
                width: 100%;
                img {
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }

    #portfolio {
        width: 100%;
        .card {
            width: 100%;
            margin: $size-1;
        }
    }

    .mockups {
        .row {
            margin-bottom: $size-5*3;
        }

        &.wd {
            .row {
                flex-direction: column;
                margin-bottom: $size-5*2;

                div {
                    &.paragraph-mobile {
                        display: block;
                    }

                    &.paragraph-desktop {
                        display: none;
                    }
                }

            }
        }
    }

    .quote {
        margin-top: $size-5;
        background-position: center;
        padding: 0 $size-2;
        min-height: 65vh;
        margin-bottom: $size-5;
        .quotation {
            font-size: 1.5rem;
            line-height: 1.3;
        }

        .source {
            margin-top: $size-2;
        }
    }

    .about-me {
        div:nth-child(2){
            order: -1;
            margin-top: $size-5;
            margin-bottom: $size-5*2;
        }
        img {
            width: 90%;
        }
    }

    .skills {
        width: 90%;
        margin-top: $size-5*2;
    }

    #form {
        width: 90%;
        div:nth-child(1){
            flex-direction: column;
        }

        textarea::placeholder {
            padding-top: $size-2;
        }
    }

}